

.video-button {
    position: relative;
}

.product-display-beinspired video {
    width: 25vw;
}

.beinspired-btn {
    position: absolute;
    bottom: 5%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, 20%);
}

.beinspired-btn a {
    width: 20vw;
    padding: 12px 15px;
}

@media (max-width: 800px) {
    .product-display-beinspired video {
        width: 30vw;
    }
}


@media (max-width: 600px) {
    

    .product-display-beinspired video {
        width: 300px;
    }

    .beinspired-btn a {
        width: 40vw;
    }

}

@media (max-width: 600px) {}