.shawls-img,
.Readytowear-img,
.shantelle-img {
    width: 300px;
    overflow: hidden;
}

.Readytowear,
.celebritystyle {
    margin: 0 3vw;
}

.product-display-beinspired img {
    width: 300px;
    /* transition: 5s ease-in; */
}

.product-display-beinspired img:hover {
    transform: scale(1.3);
    /* transition: 6s ease-in-out; */
    z-index: 1;
}

.product-display-beinspired h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0;
}

@media (max-width: 979px) {

    .shawls-img,
    .Readytowear-img,
    .shantelle-img {
        width: 250px;
    }



    .product-display-beinspired img {
        width: 250px;
    }
}

@media (max-width: 821px) {

    .Readytowear,
    .celebritystyle {
        margin: 3vw 2vw;
    }
}


@media (max-width: 600px) {

    .shawls-img,
    .Readytowear-img,
    .shantelle-img {
        width: 300px;
    }



    .product-display-beinspired img {
        width: 300px;
    }

    .shawls,
    .Readytowear,
    .shantelle {
        margin: 15px 10px;
        /* background-color: blueviolet; */
    }

    .product-display-beinspired h3 {
        font-size: 15px;
        font-weight: 500;
        margin: 3px 0;
    }

}

@media (max-width: 550px) {}