.Shopthelook {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Shopthelook h1 {
    margin-bottom: 3vw;
    font-weight: 400;
    text-decoration: underline;
    font-style: italic;
}

.left-button,
.right-button {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.left-button {
    left: 4vw;
}

.right-button {
    right: 4vw;
}

.custom-icon {
    font-size: 35px;
    font-weight: 100;
    color: black;
    transition: all 0.3s ease;
}

@keyframes moveForwardAndBackleft {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
        opacity: 0;
    }

    50% {
        transform: translateX(10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveForwardAndBackright {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(10px);
        opacity: 0;
    }

    50% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
    }
}


.left-button:hover .custom-icon-left {
    animation: moveForwardAndBackleft 0.6s ease-in-out;
}

.right-button:hover .custom-icon-right {
    animation: moveForwardAndBackright 0.6s ease-in-out;
}



.main-img-cont-img-frame-dot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-img-container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-img {
    width: 500px;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tap-circle {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
}

.tap-circle:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.main-img-design-1 {
    top: 30%;
    left: 35%;
}

.main-img-design-2 {
    top: 50%;
    left: 60%;
}

.img-preview-frame-dot {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* background-color: rgb(28, 234, 14); */
}

.img-preview-frame {
    width: 50%;
    cursor: pointer;
}

.design-image {
    width: 250px;
    /* background-color: thistle; */
}

.product-description {
    text-align: center;
    font-weight: 100;
}

.product-description .price {
    font-weight: 500;
    margin: 10px 0;
}

.Shopthelook .viewproduct {
    letter-spacing: 2px;
    padding: 13px 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid black;
    z-index: 1;
    margin: 15px auto;
}

.Shopthelook .viewproduct:hover {
    color: black;
}

.Shopthelook .viewproduct:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: white;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
    z-index: -1;
}

.Shopthelook .viewproduct:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}